{% extends 'home.html' %}

<title>{% block title %}Информация о статье{% endblock %}</title>

{% block content %}

<h1 class="text-center">Статья!</h1><br>

{% if article %}
<div class="row text-center">

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-10 mb-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    {% if article.image %}
                    <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}"
                         style="height: 200px; object-fit: cover;">
                    {% else %}
                    <h4 class="my-0 font-weight-normal">{{ article.title }}</h4>
                    {% endif %}
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li><strong>Категория:</strong> {{ article.topic.title }}</li>
                        <li><strong>Добавлен:</strong> {{ article.created_at }}</li>
                    </ul>
                    <p class="card-text">{{ article.content|linebreaks }}</p>
                    <p>Просмотров: {{ article.views }}</p>
                    <button onclick="window.history.back()" class="btn btn-secondary">
                        ← Назад
                    </button>
                    {% if user.is_authenticated %}
                    <a class="p-2 btn btn-outline-primary" href="{% url 'blog:article_edit' article.id %}">✏️
                        Редактировать</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>
{% else %}
<p class="text-center">Пока нет статей</p>
{% endif %}

{% endblock %}