{% extends 'home.html' %}

<title>{% block title %}Главная страница{% endblock %}</title>

{% block content %}

<h1 class="text-center">Добро пожаловать на наш сайт!</h1><br>


{% if all_articles %}
<div class="row text-center">
    {% for article in all_articles %}
    <div class="col-3 mb-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                {% if article.image %}
                <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}"
                     style="height: 200px; object-fit: cover;">
                {% else %}
                <h4 class="my-0 font-weight-normal">{{ article.title }}</h4>
                {% endif %}


            </div>
            <div class="card-body">

                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li><strong>Категория:</strong> {{ article.topic.title }}</li>

                </ul>
                <p class="card-text">{{ article.content|truncatewords:100 }}</p>
                <a href="/blog/article_detail/{{ article.id }}/"
                   class="btn btn-lg btn-block btn-outline-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p class="text-center">Пока нет товаров</p>
{% endif %}

{% endblock %}